footer {
  background-color: $gray-background-color;
  border-top: 2px solid $promotion-user-names;
}
.footer-icons {
  margin-right: 10px;
  font-size: 2rem;
  color: darkgray;
}
.footer-licence {
  margin-top: 5rem;
}
